<%- include('partials/head')  %> 
<%- include('partials/navbar')  %> 

<body>
    <h1>Your randome number is: <%= random %> </h1>
    <% if(random%2==0){ %> 
            <h3>The Number is Even</h3>
        <% }else{ %> 
            <h3>The Number is Odd</h3>
            <% } %> 

            <h3>That Number is <%= random%2==0 ? 'EVEN' : 'ODD'  %> </h3>
   
   
</div> 
<%- include('partials/footer')  %> 